---
layout: main
sub-title: Изграждане на поливни системи
sub: service
service: true
permalink: services/irrigation/
---

<section>
<!--    {% if page.service == 1 %}-->

<!--    {% include sub-navigation.html %}-->

<!--    {% endif %}-->

<!--    <div class="image">-->
        <header>
            <h2>{{page.sub-title}}</h2>
        </header>

        <div class="content">
            <p>Изграждането на напоителна система е изключително важно при развитието и поддръжането перфектения вид на градината.</p>
            <p>Вашата растителност и тревен чим се нуждаят от надеждно функционираща напоителната система осигуряваща постоянна грижа за правилното и рационално напояване. Тя трябва да е съобразена с различните зони на градината, разнообразната растителност и видовете почва.</p>
            <p>Ние имаме богат опит в изграждането и поддръжката на всякакви видове автоматизирани поливни. Всички напоителни системи се проектират и инсталират изцяло според индивидуалните нужди за поливане на клиента.</p>
        </div>
<!--    </div>-->
</section>