<div class="footer">
    <p><i class="fas fa-phone-alt"></i> +359 888 828 857</p>
    <p><i class="fas fa-envelope"></i> {{site.email}}</p>
    <p><i class="fas fa-clock"></i> 09:00 - 18:00</p>
    <p class="social"><a href=""><i class="fab fa-facebook-square"></i></a> <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-google-plus-square"></i></a> <a href=""><i class="fab fa-twitter-square"></i></a> <a
                href=""><i class="fab fa-pinterest-square"></i></a></p>

</div>
