//.index-title {
//  animation: index-title 1s ease-in-out;
//  opacity: 0;
//}
.index-p {
  animation: index-title 1s ease-in-out;
  animation-delay: 0.1s;
  //opacity: 1;
}

@-webkit-keyframes index-title {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes index-title {
  0% {
    letter-spacing: -0.6em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes index-p {
  0% {
    letter-spacing: 1em;
    transform: translateZ(1000px) translateY(-1000px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes index-p {
  0% {
    letter-spacing: -0.6em;
    transform: translateZ(1000px) translateY(-1000px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
//въртене
 * ---------------------------------------------- */

//@-webkit-keyframes index-title {
//  0% {
//    -webkit-transform: scale(1) rotateZ(0);
//    transform: scale(1) rotateZ(0);
//  }
//  50% {
//    -webkit-transform: scale(2) rotateZ(180deg);
//    transform: scale(2) rotateZ(180deg);
//  }
//  100% {
//    -webkit-transform: scale(1) rotateZ(360deg);
//    transform: scale(1) rotateZ(360deg);
//  }
//}
//
//@keyframes index-title {
//  0% {
//    -webkit-transform: scale(1) rotateZ(0);
//    transform: scale(1) rotateZ(0);
//  }
//  50% {
//    -webkit-transform: scale(2) rotateZ(180deg);
//    transform: scale(2) rotateZ(180deg);
//  }
//  100% {
//    -webkit-transform: scale(1) rotateZ(360deg);
//    transform: scale(1) rotateZ(360deg);
//  }
//}
//
//@-webkit-keyframes index-p {
//  0% {
//    -webkit-transform: scale(1) rotateZ(0);
//    transform: scale(1) rotateZ(0);
//  }
//  50% {
//    -webkit-transform: scale(2) rotateZ(180deg);
//    transform: scale(2) rotateZ(180deg);
//  }
//  100% {
//    -webkit-transform: scale(1) rotateZ(360deg);
//    transform: scale(1) rotateZ(360deg);
//  }
//}
//
//@keyframes index-p {
//  0% {
//    -webkit-transform: scale(1) rotateZ(0);
//    transform: scale(1) rotateZ(0);
//  }
//  50% {
//    -webkit-transform: scale(2) rotateZ(180deg);
//    transform: scale(2) rotateZ(180deg);
//  }
//  100% {
//    -webkit-transform: scale(1) rotateZ(360deg);
//    transform: scale(1) rotateZ(360deg);
//  }
//}



/**
 * ----------------------------------------
 * от вътре навън
 * ----------------------------------------
 */
//@-webkit-keyframes index-title {
//  0% {
//    letter-spacing: -0.5em;
//    -webkit-transform: translateZ(-700px);
//    transform: translateZ(-700px);
//    opacity: 0;
//  }
//  40% {
//    opacity: 0.6;
//  }
//  100% {
//    -webkit-transform: translateZ(0);
//    transform: translateZ(0);
//    opacity: 1;
//  }
//}
//
//@keyframes index-title {
//  0% {
//    letter-spacing: -0.5em;
//    -webkit-transform: translateZ(-700px);
//    transform: translateZ(-700px);
//    opacity: 0;
//  }
//  40% {
//    opacity: 0.6;
//  }
//  100% {
//    -webkit-transform: translateZ(0);
//    transform: translateZ(0);
//    opacity: 1;
//  }
//}
//@-webkit-keyframes index-p {
//  0% {
//    letter-spacing: -0.5em;
//    -webkit-transform: translateZ(-700px);
//    transform: translateZ(-700px);
//    opacity: 0;
//  }
//  40% {
//    opacity: 0.6;
//  }
//  100% {
//    -webkit-transform: translateZ(0);
//    transform: translateZ(0);
//    opacity: 1;
//  }
//}
//
//@keyframes index-p {
//  0% {
//    letter-spacing: -0.5em;
//    -webkit-transform: translateZ(-700px);
//    transform: translateZ(-700px);
//    opacity: 0;
//  }
//  40% {
//    opacity: 0.6;
//  }
//  100% {
//    -webkit-transform: translateZ(0);
//    transform: translateZ(0);
//    opacity: 1;
//  }
//}
//
//* *
//* ----------------------------------------
//* спускане отгоре
//* ----------------------------------------
//*





/**
 * ----------------------------------------
 * разместване на буквите
 * ----------------------------------------
// */
//@-webkit-keyframes index-title {
//  0% {
//    opacity: 1;
//  }
//  60% {
//    opacity: 0.8;
//  }
//  100% {
//    letter-spacing: 0.5em;
//    opacity: 0;
//  }
//}

//@keyframes index-title {
//  0% {
//    opacity: 1;
//  }
//  60% {
//    opacity: 0.8;
//  }
//  100% {
//    letter-spacing: 0.5em;
//    opacity: 0;
//  }
//}

//@-webkit-keyframes index-title {
//  0% {
//    letter-spacing: -0.6em;
//    transform: translateZ(-1em) translateY(-1em);
//    opacity: 0;
//  }
//  40% {
//    opacity: 0.6;
//  }
//  100% {
//    transform: translateZ(0) translateY(0);
//    opacity: 1;
//  }
//}
//
//@keyframes index-title {
//  0% {
//    letter-spacing: -0.6em;
//    transform: translateZ(-1em) translateY(-1em);
//    opacity: 0;
//  }
//  40% {
//    opacity: 0.6;
//  }
//  100% {
//    transform: translateZ(0) translateY(0);
//    opacity: 1;
//  }
//}
//@-webkit-keyframes index-p {
//  0% {
//    letter-spacing: -0.6em;
//    transform: translateZ(-1em) translateY(-1em);
//    opacity: 0;
//  }
//  40% {
//    opacity: 0.6;
//  }
//  100% {
//    transform: translateZ(0) translateY(0);
//    opacity: 1;
//  }
//}
//
//@keyframes index-p{
//  0% {
//    letter-spacing: -0.6em;
//    transform: translateZ(-1em) translateY(-1em);
//    opacity: 0;
//  }
//  40% {
//    opacity: 0.6;
//  }
//  100% {
//    transform: translateZ(0) translateY(0);
//    opacity: 1;
//  }
//}
