
.index-p {
  animation: index-title 1s ease-in-out;
}

@-webkit-keyframes index-title {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes index-title {
  0% {
    letter-spacing: -0.6em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes index-p {
  0% {
    letter-spacing: 1em;
    transform: translateZ(1000px) translateY(-1000px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes index-p {
  0% {
    letter-spacing: -0.6em;
    transform: translateZ(1000px) translateY(-1000px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
