.button {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: var(--color-link-default);
    color: var(--color-elements-text);
    border-radius: 0.3em;
    border: 1px solid transparent;

    &:hover {
        background-color: var(--color-elements-text);
        color: var(--color-link-default);
        border-color: var(--color-link-default);
    }
}
