form {
  border-radius: 0.5em;
  border: 2px solid var(--color-link-default);
  max-width: 60%;
  color: var(--color-link-default);
  display: block;
  padding: 2em 0 2em 0;
  margin: 1em auto;

  p {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: stretch;
  }

  input, textarea, select {
    width: 60%;
    border-radius: 0.3em;
    border: 1px solid var(--color-link-default);
    padding: 0.2em;
  }

  label {
    width: 20%;
  }

  span {
    display: flex;
    justify-content: center;
  }
}
