//body{
//  //background: floralwhite;
//  background-image: url("/images/project9.jpg");
//}

//.image {
//  width: 60em;
//  height: 40em;
//  display: block;
//  position: relative;
//
//  &::after {
//    content: "";
//    background: url("/images/project9.jpg");
//    opacity: 0.4;
//    top: 0;
//    left: 0;
//    bottom: 0;
//    right: 0;
//    position: absolute;
//    z-index: -1;
//  }
//}


.site {
  //max-width: var(--layout-main-width);
  margin: 0 auto;
  //padding: 2em;

  @include bp(laptop) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 4em;
    grid-template-areas: "header" "nav" "main" "footer";

    .site-header {
      grid-area: header;
    }
    .sub-nav {
      grid-area: nav;
    }
    .site-main {
      grid-area: main;
    }

    .site-sidebar {
      grid-area: sidebar;
    }

    .site-footer {
      grid-area: footer;
    }

    .site-header {
      display: flex;
      align-items: center;
    }

    .site-header nav {
      margin-left: auto;
    }
    .content{
      padding: 0 2em 0 2em;
      //display: flex;
      //flex-direction: column;
     }
  }

  //section {
  //  padding-top: 1em;
  //}

  .index {
    position: relative;
    img {
      width: 100%;
      height: auto;
      //opacity: 0.5;
    }
    .ground{
      position: absolute;
      top: 2em; left:2em;
      color: var(--color-elements-text);
      font-size: 2em;
      font-family: 'Signika', sans-serif;
    }
  }
  h2{
    color: var(--color-link-default);
    text-align: center;
    margin-top: 1em;

    &:after {
      display: block;
      content: '';
      width: 2em;
      height: 4px;
      background: var(--color-link-default);
      margin: 0.5em auto 2em auto;
    }
  }

}



