
.content {
  padding: 0 4em 4em;
  color: var(--color-link-default);
}

h2 {
  color: var(--color-link-default);
  text-align: center;
  margin-top: 1em;

  &:after {
    display: block;
    content: '';
    width: 2em;
    height: 4px;
    background: var(--color-link-default);
    margin: 0.5em auto 2em auto;
  }
}
