
ul {
  display: flex;
  padding: 0;
}

li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em;

  //&:after {
  //  position: absolute;
  //  bottom: 0;
  //  left: 1em;
  //  color: var(--color-link-default);
  //  width: 1em;
  //  height: 2px;
  //}

  &:first-child {
    padding-left: 0;
  }
}

.site-nav {
  padding-right: 2em;

  a {
    display: block;
    padding: 0.1em 1em;
    position: relative;
    color: var(--color-elements-text);
    font-weight: bold;

    & i.fas:before {
      color: var(--color-elements-text);
      margin-right: 0.5em;
    }

    &:after {
      position: absolute;
      width: 0;
      bottom: 0;
      content: "";
      border-bottom: 2px solid var(--color-elements-text);
      left: 50%;
      transition: width 0.5s ease-in-out;
    }
  }

  .sub-nav,
  .about-nav {
    a {
      display: block;
      padding: 0.1em 1em;
      position: relative;
    }
  }

  & li.selected > a:after,
  & a:hover:after {
    left: 0;
    width: 100%;
    text-align: center;


    & li.selected > a:after,
    & a:hover:after {
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.sub-nav,
.about-nav {
  padding: 1em;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-border-default);
  display: flex;
  justify-content: center;
  background: var(--color-elements-text);

  li {
    padding: 1em 2em 1em 2em;
  }
  a{
    color: var(--color-link-default);
    font-weight: bold ;
  }
}


