
ul {
  display: flex;
  padding: 0;
}

li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em;
}

.site-nav {
  padding-right: 2em;

  a {
    display: block;
    padding: 0.1em 1em;
    position: relative;
    color: var(--color-elements-text);
    font-weight: bold;

    & i.fas:before {
      color: var(--color-elements-text);
      margin-right: 0.5em;
    }

    &:after {
      position: absolute;
      width: 0;
      bottom: 0;
      content: "";
      border-bottom: 2px solid var(--color-elements-text);
      left: 50%;
      transition: width 0.5s ease-in-out;
    }
  }

  & li.selected > a:after,
  & a:hover:after {
    left: 0;
    width: 100%;
    text-align: center;
  }

  @include bp(phone) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    ul {
      padding-bottom: 1em;
    }
  }
  @include bp(small-phone) {
    ul {
      display: block;
      text-align: center;
      li{
        padding-bottom: 1em;
      }
    }
  }
}


.sub-nav,
.about-nav {
  padding: 1em 1em 1em 2em;
  margin: 0 auto;
  border-bottom: 2px solid var(--color-border-default);
  display: flex;
  justify-content: center;
  background: var(--color-elements-text);

  li {
    padding: 1em;
  }

  a {
    display: block;
    padding: 0.1em 1em;
    position: relative;
    color: var(--color-link-default);
    font-weight: bold;

    &:after {
      position: absolute;
      width: 0;
      bottom: 0;
      content: "";
      border-bottom: 2px solid var(--color-elements-bgrd);
      left: 50%;
      transition: width 0.5s ease-in-out;
    }
  }

  & li.selected > a:after,
  & a:hover:after {
    left: 0;
    width: 100%;
    text-align: center;
  }

  @include bp(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    ul {
      padding-bottom: 1em;
    }
  }
  @include bp(phone) {
    ul {
      display: block;
      text-align: center;
    }
  }
}

