
.projects-images {
  padding: 0 0 var(--spacing-layout-elements) 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;

  a,
  span,
  img {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  li {
    display: block;
    list-style: none outside;
    position: relative;
    overflow: hidden;
    grid-column: span 1;
    padding: 0;

    &:before {
      display: block;
      content: '';
      padding-top: 50%;
    }
  }

  strong {
    color: white;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @include bp(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp(phone) {
    grid-template-columns: 1fr;
  }
}
