
.projects-images {
  padding: 0 0 var(--spacing-layout-elements) 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;

  a,
  span,
  img {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  li {
    display: block;
    list-style: none outside;
    position: relative;
    overflow: hidden;
    grid-column: span 1;
    padding: 0;

    &:before {
      display: block;
      content: '';
      padding-top: 50%;
    }
  }

  & li > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s ease;
  }

  a:hover .overlay {
    transform: scale(1);
  }

  strong {
    color: white;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @include bp(tablet) {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--spacing-layout-elements);
  }
  @include bp(phone) {
    grid-template-columns: 1fr;
    padding: calc(2 * var(--spacing-layout-elements));
  }
}
