.site {
  &-header {
    border-bottom: 1px solid var(--color-border-default);
    background: var(--color-elements-bgrd);

    @include bp(mobile) {
      display: block;
      text-align: center;
      .site-title{
      padding-left: 0;
      }
      .site-nav {
        ul {
        padding-bottom: 1em;
        text-align: center;
        }
      }
    }
  }

  &-title {
    margin: 0;
    padding-left: 2em;
    font-size: 2em;

    a {
      display: block;
      padding: 0.5em 0;
      color: var(--color-elements-text);
    }
  }
}