.site {
  &-header {
    border-bottom: 1px solid var(--color-border-default);
    background: var(--color-elements-bgrd);
    //margin-bottom: var(--spacing-layout-elements);
    //padding-bottom: calc(var(--spacing-layout-elements) / 2);

    //position: fixed;
    //width: 100%;
    //z-index: 1000;
    //top: -1px;

  }


  &-title {
    margin: 0;
    padding-left: 2em;
    font-size: 2em;

    a {
      display: block;
      padding: 0.5em 0;
      color: #FFFFFF;
    }
  }
}