.site-footer {
  border-top: 1px solid var(--color-border-default);
  margin-top: -10px;
  padding-top: calc(var(--spacing-layout-elements) / 2);
  background: var(--color-elements-bgrd);
  color: var(--color-elements-text);
  flex-grow: 1;


  div {

    padding: calc(var(--spacing-layout-elements) / 2);
    display: flex;

    p {
      padding-left: calc(var(--spacing-layout-elements));
      padding-bottom: 0;

      a {
        color: var(--color-body-text);
        padding-left: 0.5em;
      }
    }

    .social {
      font-size: calc(var(--spacing-layout-elements) / 1.5);
      margin-left: auto;

    }

  }

  .footer {
    @include bp(tablet) {
      display: block;
      text-align: center;
      p {
        padding-left: 0;
      }
    }
  }
}



