.contacts {
  display: flex;
  flex: 0 0 50%;
  margin: 1em;


  iframe {
    padding-bottom: 1em;
    width: 40em;
    height: 25em;
  }

  div {
    padding: 0 1em 0 1em;
    text-align: left;
  }

  @include bp (tablet) {
    flex-wrap: wrap;
    justify-content: center;

    div {
      padding: 1em;
      width: 100%;
    }
    iframe {
      width: 100%;
    }
  }
}

.logo {
  flex-wrap: wrap;
  justify-content: center;

  span {
    padding: 1.5em;
    width: 40%;
  }
}

.index {
  img {
    width: 100%;
    height: auto;
  }


  .ground {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-elements-text);
    font-size: 2em;
    font-family: 'Signika', sans-serif;
    text-align: center;


    .index-title {
      display: block;
    }

    p {
      color: var(--color-elements-text);
    }

    @include bp(tablet) {
      .ground {
        font-size: 2em;
      }
    }
  }
}

.prices {
  padding: 2em 0 2em 0;
}