@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: var(--font-size-body)/1.5 'PT Sans', sans-serif;
}

@include bp(desktop){
    html {
        font-size: var(--font-size-body-huge);
    }
}

@include bp(laptop){
    html {
        font-size: var(--font-size-body-big);
    }
}
@include bp(mobile){
    html {
        font-size: var(--font-size-body-larger);
    }
}
@include bp(tablet){
    html {
        font-size: var(--font-size-body);
    }
}

@include bp(phone) {
    html {
        font-size: var(--font-size-body-small);
    }
}

body, table, form, select, option, input, textarea {
    font: inherit;
    background: var(--color-body-bgrd, #FFF);
    color: var(--color-body-text), #000;
}

.site-title,
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
    font-family: 'Signika', sans-serif;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

a{
    text-decoration: none;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}

ul ul, ol ul, ul ol, ol ol {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ol > li > ol > li {
    list-style-type: lower-roman;
}

blockquote {
    padding: 1rem;
}

blockquote .author {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}

blockquote .author:before {
    display: inline-block;
    content: '\2014';
    padding-right: 0.5em;
}
