:root {
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;

    //--layout-main-width: 60em;

    //--color-body-bgrd: #fff;
    --color-elements-bgrd: #747860;
    --color-elements-text: #fff;
    //--color-body-text: #000;
    //--color-link-default: rgba(7, 153, 94, 0.98);
    --color-link-default: #747860;

    --color-border-default:#999;

    --spacing-layout-elements:2em;
}
