:root {
    --font-size-body: 10px;
    --font-size-title: 16px;

    --color-elements-bgrd: #747860;
    --color-elements-text: #fff;
    --color-link-default: #747860;

    --color-border-default: #747860;

    --spacing-layout-elements:2em;
}
