:root {
    --font-size-body-small: 12px;
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;

    --color-elements-bgrd: #747860;
    --color-elements-text: #fff;
    --color-link-default: #747860;

    --color-border-default:#999;

    --spacing-layout-elements:2em;
}
